html, body {
    height: 100%;
}

.greybg {
    background-color: #dddddd;
    background-image: url('../shattered.png');
}

.greenbg {
    background-color: #b1f6cb;
    background-image: url('../congruent_pentagon.png');
}

ul.blank {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input.field-small {
    width: 4em;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


