<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Collatzy</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" media="all" href="../css/styles.css" th:href="@{/css/styles.css}" />

        <!-- Favicon Stuff
        Thanks to realfavicongenerator.net -->
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{img/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/favicon-32x32.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/favicon-16x16.png}">
        <link rel="manifest" th:href="@{img/site.webmanifest}">
        <link rel="mask-icon" th:href="@{img/safari-pinned-tab.svg}" color="#b1f6cb">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body class="greenbg">
        <div class="container-fluid h-100">
            <div class="row justify-content-md-center display-flex">
                <div class="col-12 col-sm-2">
<!--                    empty-->
                </div>
                <div class="col-12 col-sm-10">
                    <h1>COLLATZY</h1>
                </div>
            </div>
            <div class="row display-flex">
                <div class="col-12 col-sm-2">
                    <div class="card greybg px-1 py-2 my-1">
                        <ul class="blank font-weight-bold">
                            <li><a class="text-dark" th:href="@{/about}">About</a></li>
                            <li><a class="text-dark" th:href="@{/run}">Run A Number</a></li>
                            <li><a class="text-dark" th:href="@{/api}">API</a></li>
                            <li><a class="text-dark" href="https://etoitau.github.io/home/CS.html">Other Projects</a></li>
                            <li><a class="text-dark" href="https://github.com/etoitau/Collatzy">Source Code</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-10">
                    <section layout:fragment="custom-content-top">
                        <!--                        Top Content goes here-->
                    </section>
                    <section layout:fragment="custom-content-bottom">
                        <!--                        More content here-->
                    </section>
                </div>
            </div>


        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>