<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Explore</title>
</head>
<body>
<section layout:fragment="custom-content-top">
    <form action="#" th:action="@{/run}" th:object="${runForm}" method="post">
        <div class="form-group form-inline">
            Divide by&nbsp;
            <label class="sr-only" for="d-input-field">d</label>
            <input type="text" class="form-control form-control-sm field-small"
                   id="d-input-field" name="d" th:value="${d}" />
            &nbsp;when multiple of&nbsp;
            <label class="sr-only" for="d-display-field">d</label>
            <input readonly type="text" class="form-control form-control-sm field-small"
                   id="d-display-field" th:placeholder="${d}" />
        </div>
        <div class="form-group form-inline">
            Multiply by&nbsp;
            <label class="sr-only" for="m-input-field">m</label>
            <input type="text" class="form-control form-control-sm field-small"
                   id="m-input-field" name="m" th:value="${m}" />
            &nbsp;and add&nbsp;
            <label class="sr-only" for="p-input-field">p</label>
            <input type="text" class="form-control form-control-sm field-small"
                   id="p-input-field" name="p" th:value="${p}" />
            &nbsp;otherwise
        </div>
        <div class="form-group form-inline">
            Start at&nbsp;
            <label class="sr-only" for="start-num-input-field">num</label>
            <input type="text" class="form-control form-control-sm field-small"
                   id="start-num-input-field" name="num" th:value="${num}" />
            &nbsp;<button type="submit" class="btn btn-dark">Go!</button>
        </div>
    </form>
</section>
<section layout:fragment="custom-content-bottom">
    <div th:if="${hasReport}">
        <hr /><br>
        <div th:if="${isUnknown}">
            <div class="form-group form-inline">
                Result did not converge.&nbsp;
                <form action="#" th:action="@{/run}" th:object="${runForm}" method="post">
                    <input type="hidden" name="d" th:value="${d}" />
                    <input type="hidden" name="m" th:value="${m}" />
                    <input type="hidden" name="p" th:value="${p}" />
                    <input type="hidden" name="num" th:value="${num}" />
                    <input type="hidden" name="cont" th:value="${cont}" />
                    <button type="submit" class="btn btn-dark">More!</button><br>
                </form>
            </div>
        </div>
        <div th:utext="${report}" />
    </div>
</section>
</body>
</html>